@import "tailwindcss";

@font-face {
  font-family: silkscreen;
  src: url("/fonts/slkscr.ttf") format("truetype");
}

.silkscreen {
  font-family: silkscreen;
}

@layer components {
  .custom-border {
    box-sizing: border-box;
    border: 5px solid;
    border-color: #e5e7eb #9ca3af #9ca3af #e5e7eb;
  }

  .custom-border-lg {
    box-sizing: border-box;
    border: 10px solid;
    border-color: #e5e7eb #9ca3af #9ca3af #e5e7eb;
  }

  .custom-border-lg-lime {
    box-sizing: border-box;
    border: 10px solid;
    border-color: #a3e635 #65a30d #65a30d #a3e635;
  }
}

.custom-border-rev {
  box-sizing: border-box;
  border: 5px solid;
  border-color: #9ca3af #e5e7eb #e5e7eb #9ca3af;
}

.game-container {
  image-rendering: crisp-edges;
  max-width: 96rem;
  overflow: hidden;
}

.background-forest {
  background-image: url("/minesweeper-react/map/lake.png");
}
.background-cave {
  background-image: url("/minesweeper-react/map/lava.png");
}
.background-snow {
  background-image: url("/minesweeper-react/map/ocean.png");
}
.background-s {
  background-size: 5%;
}
.background-l {
  background-size: 15%;
}

.game-container-zoomed-out {
  image-rendering: crisp-edges;
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48rem;
  width: 112rem;
}

.game-container-zoomed-in {
  overflow: hidden;
  width: 112rem;
  height: 48rem;
}

.font-outline {
  filter: drop-shadow(-1px -1px 0px #fff) drop-shadow(1px -1px 0px #fff)
    drop-shadow(1px 1px 0px #fff) drop-shadow(-1px 1px 0px #fff);
}

.font-outline-black {
  filter: drop-shadow(-1px -1px 0px #000) drop-shadow(1px -1px 0px #000)
    drop-shadow(1px 1px 0px #000) drop-shadow(-1px 1px 0px #000);
}
