@import "tailwindcss";

.custom-border {
  box-sizing: border-box;
  border: 5px solid;
  border-color: #e5e7eb #9ca3af #9ca3af #e5e7eb;
}

.custom-border-emerald {
  box-sizing: border-box;
  border: 5px solid;
  border-color: #34d399 #059669 #059669 #34d399;
}

.custom-border-rev {
  box-sizing: border-box;
  border: 5px solid;
  border-color: #9ca3af #e5e7eb #e5e7eb #9ca3af;
}

.game-container {
  max-width: 64rem;
  overflow: hidden;
}

.board {
  transition: transform 0.3s ease-in-out;
  width: max-content;
}
