@import "tailwindcss";

@font-face {
  font-family: silkscreen;
  src: url("/fonts/slkscr.ttf") format("truetype");
}

.silkscreen {
  font-family: silkscreen;
}

.custom-border {
  box-sizing: border-box;
  border: 5px solid;
  border-color: #e5e7eb #9ca3af #9ca3af #e5e7eb;
}

.custom-border-emerald {
  box-sizing: border-box;
  border: 5px solid;
  border-color: #34d399 #059669 #059669 #34d399;
}

.custom-border-rev {
  box-sizing: border-box;
  border: 5px solid;
  border-color: #9ca3af #e5e7eb #e5e7eb #9ca3af;
}

.game-container {
  /* transform: scale(1.3); */
  image-rendering: crisp-edges;
  max-width: 64rem;
  overflow: hidden;
}

.background-forest {
  background-image: url("/map/lake.png");
}
.background-cave {
  background-image: url("/map/lava.png");
}
.background-snow {
  background-image: url("/map/ocean.png");
}
.background-s {
  background-size: 5%;
}
.background-l {
  background-size: 15%;
}

.board {
  transition: transform 0.3s ease-in-out;
  width: max-content;
}

.img-crisp {
  image-rendering: crisp-edges;
  /* image-rendering: pixelated; */
}

.game-container-zoomed-out {
  image-rendering: crisp-edges;
  transform: scale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48rem;
  width: 112rem;
  /* z-index: 80; */
}

.game-container-zoomed-in {
  overflow: hidden;
  width: 112rem;
  height: 48rem;
}

.font-outline {
  filter: drop-shadow(-1px -1px 0px #fff) drop-shadow(1px -1px 0px #fff)
    drop-shadow(1px 1px 0px #fff) drop-shadow(-1px 1px 0px #fff);
}

.font-outline-black {
  filter: drop-shadow(-1px -1px 0px #000) drop-shadow(1px -1px 0px #000)
    drop-shadow(1px 1px 0px #000) drop-shadow(-1px 1px 0px #000);
}
